html, body {
  height: 100%; /* Ensure html and body elements take full height */
  margin: 0; /* Remove default margin */
}

.GauravFullHeight {
  display: flex;
  flex-direction: column;
}

.GauravQuizOptions {
  /* border: black solid 0.1px; */
  border: none;
  width: 200px;
  max-height: 100px;
  color: black;
}

.GauravImage {
  max-height: 500px;
}

.GauravQuizContainer {
  border: none;
  min-height: 100vh;
  background-image: url(../../public/personality-quiz.jpg);
}

.GauravQuizCard {
  height: 500px;
  background-color: rgba(255, 255, 255, 0.7);
  max-width: 350px;
}
