*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: rgb(220, 220, 220); */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: white;
}
.row{
    background: white;
    border-radius: 10px;
    /* box-shadow: 6px 6px 12px 6px rgb(188, 188, 188); */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.img-rowregister{
    display: flex;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    height: auto;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    /* background-color: black; */
    background-color: #6589bb;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    /* background-color: white; */
    background-color: #2e5990;
    /* border: 1px solid #6589bb; */
    /* color: black; */
    /* color: black; */
    transition: all .2s ease;
}